@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Playwrite+DK+Loopet:wght@100..400&display=swap');

@import "tailwindcss";

@plugin "@tailwindcss/typography";

@layer base {
   .text-shadow {
      text-shadow: -6px 6px 10px rgba(0, 0, 0, 0.4);
   }
}

@layer utilities {
   .img-shadow {
      filter: drop-shadow(-6px 8px 15px rgba(0, 0, 0, 0.4));
   }
}

@theme {
   --font-playwrite: 'Playwrite DK Loopet', sans-serif;
}

/* .title {
   font-family: 'Playwrite DK Loopet', sans-serif;
} */